<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

<title>Exposed Records - Error</title>
<meta name="description" content="HTML 5 CSS 3 Spring Form"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>

<link rel="stylesheet" href="../../css/style.css" th:href="@{~/css/style.css}"/>
<script src="../../js/libs/modernizr-2.0.6.min.js" th:src="@{~/js/libs/modernizr-2.0.6.min.js}"></script>
</head>

<body>
	<div id="container">
        <div id="container">
          <h1>Unexpected error has happened :(</h1>
          <div>
            We apologize for any inconvenience this might cause!
            Please, try refreshing the page or loading the websites's <a href="/">root</a>.
          </div>
          <div>
            If the problem persists, you can check back later, we will be fixing it.
            Meanwhile, feel free to browse our <a href="https://www.facebook.com/pages/Exposed-Records/280587362151406">Facebook</a> 
            and <a href="https://twitter.com/exposed_records">Twitter</a> profiles!
          </div>
        </div>

		<footer>
		</footer>
	</div>
	<!--! end of #container -->

	
	<script>
		/*<![CDATA[*/
		      //Embbeded Javascript    
		/*]]>*/
	</script>

</body>
</html>
